        <div class="widget-box">
        	<div class="widget-wrap">
				<h4 class="widget-title">Latest Post</h4>
	            <ul class="article-list">
	            {% for post in latest_post %}
	            	
		                <li class="post-item"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
	             
	            {% endfor %}
	            </ul>
            </div>
        </div>

<div class="widget-box">
	<div class="widget-wrap">
		<h3 class="widget-title">Trending Post</h3>
        <ul class="article-list">
        {% for post in trending_post %}
        	
                <li class="post-item"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
         
        {% endfor %}
        </ul>
    </div>
</div>
<div class="widget-box">
	<div class="widget-wrap">
		<h3 class="widget-title">Recently Updated</h3>
        <ul class="article-list">
        {% for post in recently_updated %}
        	
                <li class="post-item"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
         
        {% endfor %}
        </ul>
    </div>
</div>