{% load i18n static %}

<footer id="footer">
<div class="container" style="min-height: 50px;">
</div>

<section class="footer">
    <div class="container">
      <div class="row">
          <div class="col-lg-4  col-md-4 col-sm-4">
              <div class="footer_dv  wow slideInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                  <h4>MENU</h4>
                  <ul>
               
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'about' %}">ABOUT US</a></li>
                        <li><a href="{% url 'blog:faq' %}">DIET FAQ</a></li>
                        <li><a href="{% url 'blog:index' %}">EXPLORE OUR BLOG</a></li>
                        <li><a href="{% url 'contact' %}">REACH TO US</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">

            </div>
            <div class="col-lg-4  col-md-4 col-sm-4 pull-right">
              <div class="footer_dv  wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                  <h4>Follow us :</h4>
                  <div class="contact-info">
                  <ul class="address">
                    <li><i class="fa fa-map-marker"></i> <span> Address:</span> BH-18 (East), Shalimar Bagh,New Delhi. </li>
                  <!--   <li><i class="fa fa-phone"></i> <span> Phone:</span> +928 336 2000  </li> -->
                    <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:info@dikshagulatidietplate.com"> info@dikshagulatidietplate.com</a></li>
                  </ul>
                </div>  
                  <h4>Follow us :</h4>
                    <div class="social-icons">
                      <ul>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>        
              </div>
            </div>
        </div>
    </div>
</section>
</footer>


