body{
	font-family:'Open Sans',sans-serif;
  background-color: #333;
  background-image: url('/static/layout/img/dp_background.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center; 
  font-weight: 500;
  letter-spacing: 1px;

}
h1,h2,h3,h4,h5,h6{
  font-family:'Raleway','Open Sans',sans-serif;
  font-weight: 600;
}
.input-group .form-control:focus{
  border-color: #ff9933;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,153,51,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,153,51,.6);
}
.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.bg{
  background-color: rgba(255,255,255,0.5);
}
.call-action a {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: auto;
  max-width: 180px;
  text-decoration: none;
  margin-top: 4px;
  font-weight: 700;
  border-radius: 2px;
  padding: 12px 15px;
}

.call-action a.button {
  color: rgba(255,153,21,0.8);
  box-shadow: rgba(255,153,21,0.8) 0 0px 0px 4px inset;
}

.call-action a.button:hover {
  color: rgba(255, 255, 255,1);
  box-shadow: rgba(255,153,21,0.8) 0 0px 0px 40px inset;
}
::-webkit-scrollbar {
    width: 8px;
}

 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgb(255,255,255); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(255,153,51); 
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,255,221,0.3); 
}
::scrollbar {
    width: 8px;
}
 
/* Track */
::scrollbar-track {
    box-shadow: inset 0 0 2px rgb(255,255,255); 
    border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
::scrollbar-thumb {
    border-radius: 10px;
    border-radius: 10px;
    background: rgb(255,153,51); 
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
}
::scrollbar-thumb:window-inactive {
  background: rgba(255,255,221,0.3); 
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/static/layout/img/dp-loader-200.gif') 50% 50% no-repeat #fffffe;
}
.wrapper{
  padding-top: 92px;
  min-height: 700px;
}
@media(min-width:768px){
    .navbar-default{
  	background-color: #fffffe;
  }
  .dropdown-menu{
    float:none;
  }
}
@media(max-width:768px){
  .wrapper{
  padding-top: 52px;
  min-height: 700px;
}
}
.navbar-default .navbar-nav>li>a {
    color: #996633;
    transition: all 0.4s ease-in-out;
}

.glyphicon-upload{
    color :#996633;
    opacity: 0.7;
}
.glyphicon-upload:hover{
    color :#ff9966;
    opacity: 0.7;
}

/* ########## */
/* Navbar 6d473a CSS */
/* ########## */

.navbar-default .navbar-nav>li>a:hover {
	color:#ff9933;
	transition: all 0.4s ease-in-out;
}
.navbar-default .navbar-nav>li>.active,.navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #ff9933;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
}
.navbar-default .navbar-nav>li>a:focus {
	color: #996633;
	background-color: transparent;
}

.navbar-default .navbar-toggle-caret {
    color: #ff9933;
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 8px;
}
.navbar-default .navbar-toggle-caret:hover {
    color: #996633;
}
@media(min-width:768px){
.navbar-default .navbar-toggle-caret {
    display: none;
}
}


/* ############# */
/* DROPDOWN MENU */
/* ############# */
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.open>.dropdown-menu {
    display: block;
    transition:all 0.3s ease-in-out;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fffffe;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(255,153,51,.1);
    box-shadow: 0 6px 12px rgba(255,153,51,.1);
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fffffe;
    text-decoration: none;
    background-color: #ff9933;
}
@media (max-width: 767px){
  .dropdown-menu>li>a{
    text-align:center;
}
.navbar-nav .open .dropdown-menu {
    background-color: rgba(153,102,51,.2);
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: rgba(153,102,51,.9);
    font-size:1.1em;
    transition:all 0.3s ease-in-out;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fffffe;
    background-color:rgba(153,102,51,.5);
    transition:all 0.3s ease-in-out;
}
}
blockquote{
	border:0px;
	font-style: oblique; 
}
.orange-card{
	background: rgba(255,153,51,0.8);
	border-radius: 15px;
	top: 250px;
    position: relative;
}
blockquote > small{
	color: #996633; 
}
/****** Card ****/
.card{
	display: block;
    padding: 20px;
    margin:20px 10px;
    line-height: 1.42857143;
    background-color: #fffffe;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.card-meta span {
    display: inline-block;
    padding: 0px 9px 0 5px;
    border-right: 1px solid #4a4a4a;
}
.card-header{
    color: #996633;
}
.card-meta a{
    color:#ff9933;
}
.card-title{
    margin-top: 0px;
    text-transform: uppercase;
}
.card-title a{
    color : #996633;
}
.card-title a:hover{
    color : #ff9933;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.card-thumb{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	padding:2px;
	overflow: hidden;
	border: 1px solid #ddd;
}
.card-thumb img{
	transition: all 0.5s ease-in-out;
}
.card-thumb img:hover{
    -webkit-filter: blur(1px);
    filter: blur(2px);
    transition: all 0.5s ease-in-out;
    transform:scale(1.2,1.2) rotate(5deg);
}
.card-footer .btn{
    border-color: #ff9933;
    background-color:#ff9933;
    transition: all 0.3s ease-in-out;
}
.card-footer .btn:focus , .card-footer .btn:hover{
    transform: scale(1.05,1.05);
    transition: all 0.3s ease-in-out;
}
.widget-box{
	padding: 10px;
	background-color: #fffffe;
	border: 1px solid #e1e1e1;
	margin-top: 15px;
}
.widget-title{
	color: #996633;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding-bottom: 5px;
	margin-top:0px;
	border-bottom: 1px solid #e1e1e1;
}
.right-sidebar ul{
	margin:0px;
	padding:0px;
}
.right-sidebar li {
	color:#7777;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 6px;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
}
.right-sidebar a {
	color:#303030;
    text-decoration: none;
}
.right-sidebar a:hover {
    transform: scale(1.05,1.05);
    color: #ff6633;
    transition: all 0.2s ease;
}
.right-sidebar a:before {
	content:"\e080";
    font-family:"Glyphicons Halflings";
}
.tag-cloud ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tag-cloud ul li {
	display: inline-block;
	margin: 0 0 .5em 1.5em;
	padding: 0;
}
.tag-cloud ul li a span{
	color: #ff9933;
}
.tag-cloud ul li a {
	position: relative;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 1em;
	background-color: #996633;
	border-radius: 0 3px 3px 0;
	color: #fffffe;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tag-cloud ul li a::before {
	position: absolute;
	top: 0;
	left: -15px;
	content: '';
	width: 0;
	height: 0;
	border-color: transparent #996633 transparent transparent;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	-webkit-transition: .2s;
	transition: .2s;
}
.tag-cloud ul li a::after {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -3px;
	background-color: #fffffe;
	border-radius: 100%;
}
.tag-cloud ul li a:hover {
	background-color: #ff9933;
	color: #fffffe;
}
.tag-cloud ul li a:hover::before {
	border-right-color: #ff9933;
}
.tag-cloud ul li a:hover span{
	color: #996633;
}
.icons
{
  font-size:20px;
  padding: 10px
}
.icons a
{
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: #ff9933;
}

.icons a:hover
{
  background-color: #FF9933;
  color: white;
}
.footer {
    background: #fff none repeat scroll 0 0;
    border-top: 4px solid #fcab0e;
    margin: 0;
}
.footer_dv {
    width: 100%;
}
.footer_dv h4 {
    color: #fcab0e;
    font-family: roboto;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv>ul>li {
    border-top: 1px solid #ff9933;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    padding: 5px 0;
}
.footer_dv>ul>li>a {
    text-decoration: none;
    color: #996633;
}
.footer_dv>ul>li>a:hover,.footer_dv>ul>li>a:focus {
    text-decoration: none;
    color: #ff9933;
}
.footer_dv p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}
#footer {
  background-color: #ff9933;
}
.footer-top {
  position: relative;
  padding:30px 0
}
#footer .footer-bottom {
  background-color: #fffffe;
  padding: 20px 0 10px;
}
#footer .footer-bottom a:hover {
  text-decoration: underline;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}
.footer .social-icons {
  margin-top: 15px;
  padding-bottom:10px;
}
.footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .social-icons ul li a {
  background-color: rgba(153,102,51,.8);
  border-radius: 4px;
  line-height: 33px;
}
.footer .social-icons ul li a:hover {
  color: #fffffe
}
.footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}
.footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}
.footer .social-icons ul li a.instagram:hover {
  background-color: #da0a90;
}
.footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}
.social-icons {
  margin-top:30px;
}
.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social-icons ul li {
  float: left;
  margin-right: 8px;
}
.social-icons ul li:last-child {
  margin-right: 0;
}
.social-icons ul li a {
  color:#fffffe;
  background-color: #d9d9d9;
  text-align: center;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}
.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}
@media (max-width: 767px){
  #footer{
    text-align: center;
  }
  .footer_dv h4 {
    margin-bottom: 10px;
    margin-top: 20px;
}
}


/***MODAL***/
.modal-content {
    position: relative;
    background-color: #fffffe;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 5px solid #ff9933;
    border: 10px solid rgba(255,153,51,.5);
}
.modal-header{
  color:#fffffe;
  background-color:#ff9933;
}
.modal-content .form-control {
    color: #996633;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
}
.appointment-form-tab{
  top:30%;
  left:0px;
  position: fixed;
  display:none;
  z-index: 99999;
  vertical-align: middle;
}
.appointment-form-tab .panel {
    background: transparent;
    border-color: transparent;
    border-radius: 0 26px 26px 0;
    box-shadow: none;
    color: #fff;
    height: 300px;
    position: relative;
    width: auto;
    cursor:pointer;
    left:-1px;
}
.appointment-form-tab .panel a {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}
.appointment-form-tab .panel a:hover{
    text-decoration: none;
}


.appointment-form-tab .panel-default > .panel-leftheading
{
    background: #996633;
}

.appointment-form-tab .panel-leftheading
{
    float: left;
    height: 100%;
    padding: 10px 15px;
    position: absolute;
    width: 35px;
    border-radius: 0 15px 15px 0;
}

.appointment-form-tab .panel-lefttitle
{
    position: absolute;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(270deg);
    -o-transform-origin: left top;
    transform: rotate(270deg);
    transform-origin: left top;
    bottom: -10px;
    font-size: 23px;
    font-weight: 300;
    left: 0;
    line-height: 28px;
    white-space: nowrap;
}