
/*.wrapper {
    text-align:center;
    font-size:20px;
    color:#fff;
    position:relative;
}*/

/*
.line {
    width:1px;
    height:100px;
    color:#000;
    background:#000;
    margin-left:250px;
    animation: line 5s  ease-in-out 2s infinite;
} */
